.h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(133, 5, 5);
}

.contentbox {
display: flex;
  justify-content: center;
  align-items: center ;
  height: 150px;
  border: 5px solid black;
  background: lightgoldenrodyellow;
  width: 100%;
}

#display{
    width: 100%;
}

#slider{
    color: red;
    
}