.body{
    background-color: black;
}

/* Password Page Header */
.header {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    font-weight: bold;
    text-decoration: underline;
    color:black;
}
/* Password Gen Box Formatting */

.passheader {
     font-size: xx-large;
     font-family: fantasy;
     font-weight: bolder;
}
div.row{
    background-color:rgb(199, 0, 0);
    background-image: url(./asset/redlock.jpg);
    background-size: 500px;
}

.contentbox {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 0, 0);
    border: solid 2px black;
    text-align: center;
    padding: 50px;
}

.passwordtitle {
font-family: fantasy;
text-align: center;
font-weight: bold;
font-size: x-large;
}

/* Inner box Display */

#display{
    width: 100%;
    height: 100%;

}
/* Slider Formatting */

#slider{
    padding: 5px;
    width: 75%;
    
    
}

/* Generate Button */

.generatebtn{
    font-family: fantasy;
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
}

/* Checkbox Formatting */
.setting{
    font-size: large;
    padding: 3px;
    font-family: fantasy;
}

